*{
  margin: 0;
  padding: 0;
}



/* body{
  /* border: 5px solid red; */

  /* background-image: url(./coffee.jpg), url(./map-wold-map-technology-world-wallpaper-preview.jpg), url(./house.jpg); */
  /* background-repeat: no-repeat, no-repeat, no-repeat; */
  /* background-repeat: repeat-y; */
  /* background-position:end; */
  /* background-size:100% 800px; */
  /* background-size: 900px, 40%, 80% ; */

/* } */ 


.container{

  background-image: url(./rapti.jpeg);
  background-color: rgb(39, 47, 96) !important;
  background-color: blanchedalmond;
  height: 80vh;
  /* padding-top: 1000px;
  padding-bottom: 200px; */
   background-repeat: no-repeat;
   background-size: contain; 
   text-align: center;
   display: flex;
   justify-content: center;
flex-direction: column;
   /* align-items: center; */
   background-position: center;
/* background-blend-mode: luminosity; */
   
}



h1{
  font-size: 100px;
  font-style: oblique;

}

p{
  font-size: 50px;
  font-style: italic;
} /*