/* .container{
    background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content:space-evenly ;
  align-items:start;
  gap:6px ;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
/* } */

/* 
.container{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* .item{
    background-color: blueviolet;
    height: 150px;
    width: 150px;
    margin-bottom: 4px;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: larger; 
font-weight: bold;

} */


/* .item1{
    background-color: aqua;
    /* align-self: center; */
    /* flex-grow: 1; */
    /* flex-shrink: 9; */
    /* flex-basis: 10; */
/* }  */



ul{
    background-color: aquamarine;
    list-style-type: none;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}
