

*{
    padding: 0px;
    margin: 0px;
}


.container{
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border: 2px solid red;
    /* flex-direction: column; */
    /* position: relative; */
    /* flex-wrap: wrap; */
 
 
   
}



.item{
    background-color: rgb(159, 159, 14);
    height: 150px;;
    width: 150px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 3px solid red;
 
    /* flex-wrap: wrap; */
    /* flex-basis: 10; */

}

.item1{
    background-color: blueviolet;
    /* position:relative;
    align-self: end;  */
    /* flex-grow: 1; */
    /* flex-shrink: 0; */  

}

.item2{
    background-color: aquamarine;
    position: absolute;
    align-self: self-start;
}


.conatiner1{
    height: 200vh;
    background-color: blanchedalmond;
}